.apk-list {
  display: grid;
  gap: 12px;
  color: black
}

.apk-card {
  display: block;
  padding: 16px;
  border-radius: 8px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  position: relative;
  z-index: 2;
}

.apk-card:hover {
  background: var(--card-bg);
}

.apk-page-title {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 0.6em;
}

.apk-categories {
  display: flex;
  gap: 10px;
  margin: 10px 0 20px;
}

.apk-categories button {
  padding: 8px 14px;
  border: 1px solid var(--category-border-bg);
  background: #fff;
  color: var(--category-text);
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.apk-categories button.active {
  background: #178839;
  color: white;
}
