.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.login-box {
  background: white;
  padding: 26px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.login-box h2 {
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.login-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-btn {
  background: #4caf50;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #449d48;
}

.error {
  background: #ffdddd;
  color: #d9534f;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
}
