.appearance-row {
  display: flex;           /* horizontal layout */
  align-items: center;     /* vertically center text and toggle */
  gap: 3em;
  margin-top: 1.2em;
  margin-bottom: .2em;
  justify-content: center;
  border: var(--settings-bar-border) 1px solid;
  background-color: var(--settings-bar-bg);
  border-radius: 8px;
  padding: 1em;

}

.toggle-container {
  display: flex;
  align-items: center;
  gap: .7em;
  font-size: 24px;
  font-weight: 500;
}

/* Switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 8px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #033092ab;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Dark/Light body styles */
body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}
