.bottom-tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-top: 1px solid #ddd;
}

.bottom-tabs a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}
